@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}

html {
  font-size: 62.5%;
}

body{
  background-color: #9b9b9b;
}

.todo-body{
  position: absolute;
  left: 50%;
  transform: translate(-49%);
  background-color: #294b93;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
  padding: 60px 0px 200px;
  width: 80rem;
  border-radius: 20px;
}


.logo-div{
  margin-top: 5rem;
}
.logo{
  width: 3rem;
  position: relative;
  top: -0.85rem;
  left: -0.95rem;
  color: white;
}

figcaption{
  display: inline;
  font-size: 3rem;
  font-weight: 700;
  color: white;
}
.input-group{
  height: 4rem;
}

.form-control{
  text-align: left;
 
}

i{
  font-size: 2rem;
}
/* .add-btn{
  height: 4rem;
  width: 6rem;
} */
.show-item{
  margin: 5rem 0;
}
h3{
  color: white;
  display: inline;
  text-align: left;
}

/* .taskCrossed{
  text-decoration-line: line-through;
  text-decoration-thickness: 3px;
} */
.btnEdtDel{
  display: inline;
}

.edit-btn,.del-btn{
  width: 5rem;
}

.add-btn{
  width: 10rem;
  display: inline;
  font-size: 2rem;
}
.add-i-btn{
  display: inline;
  font-size: 1.5rem;
}